
body{
  background-color: #E4F9F5;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{

  font-family: 'Sacramento', cursive;
font-size: 50px;
margin-top: 0;
}
h2{
  font-family: serif;

}
h3{
  font-family:  sans-serif;

}
  .top-container{

  background-color: #E4F9F5;
  position: relative;
  padding: 80px;
}
.vipul{
  width: 250px;
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 400px;
top: 5px;
}
.bottom-cloud{
  position: absolute;
  left: 400px;

}
.mountain{
  position: relative;
  top: 50px;
}
